body{

    background-color: aliceblue;
    color: aquamarine;
    margin: 0px;
    margin-bottom: 100px;
} 

header{

border-bottom: solid 2px rgb(217, 138, 236);
padding: 20px;
font-size: 32px;
color: darkcian;
}


.capa {
    color:rgb(228, 182, 228);
    font-size: 20px;
}

#heroi{
     display: flex;
     padding-left: 200px;
}
.videos{

    display: flex;
    overflow: auto;
    gap: 10px;
}